/* body { 
  line-height: 20px;
    font-size: 14px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
  font-family:Helvetica, sans-serif;
    background-color: rgb(242, 239, 231)
} */

#maincontent
{
max-width:42em;margin:15 auto;
    
}
